div{
	background-image: linear-gradient(to top right, red, white)
}

.satu{
	margin: 0 auto;
	width:600px;
	height:400px;
	background-image: radial-gradient(circle at 50% 100%, white, blue);
}

.dua{
	margin: 0 auto;
	width:600px;
	height:200px;
	background-image: radial-gradient(circle at 0 50%, white, blue, white);
}